.contenedor-secundario {
    display: block;
    text-align: center;
    font-size: .25cm;
}

p {
    margin: 5px 0;
    font-family: Arial, sans-serif;
    font-size: .27cm;
}

.foot {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.logoHeader {
    width: 70%;
    display: block;
    margin: auto;
}

.texto-centrado {
    text-align: center;
    font-size: 14px;
    align-items: center;
    font-weight: bold;
    text-decoration: underline;
}