.contenedor-secundario {
    display: block;
    width: 100%;
    margin-left: 1.5cm;
    font-size: .25cm;

    h6 {
        font-size: 0.3cm;
        margin-bottom: 0.25cm;
    }

    p {
        margin: 5px 0;
        font-family: Arial, sans-serif;
        font-size: .27cm;
    }
}

hr {
    margin-left: .75cm;
    width: 90%;
}

.foot {
    display: block;
    width: 100%;
    margin: .5cm 1.5cm;

    p {
        font-family: Arial, sans-serif;
        font-size: .2cm;
    }
}

.logoHeader {
    width: 70%;
    display: block;
    margin: auto;
}

.texto-centrado {
    text-align: center;
    font-size: 14px;
    align-items: center;
    font-weight: bold;
    text-decoration: underline;
}