header {
    .contenedor-data-origen {
        display: inline-block;
        width: 100%;

        .contenedor-principal-data {
            display: inline-block;
            margin-top: 0.25cm;
            margin-bottom: 0.25cm;
            width: 50%;

            &:nth-of-type(2) {
                float: right;
            }
        }
    }
}

.contenedor-secundario {
    display: block;

    &.horizontal {
        float: right;
        margin-bottom: .25cm;

        hr {
            margin: 0 0;
        }
    }

    &.vertical {
        margin-bottom: .25cm;
    }

    font-size: .25cm;
}

.logoHeader {
    width: 100%;
}

main {
    font-size: 0.7rem;
    margin-top: 2rem;
}

section {
    margin-top: 2rem;
    p {
        margin-top: 1.5rem;
    }
}

html {
    display: inline-block;
    padding: 0 2rem;
    margin: 0;
    font-family: sans-serif;
}
.contenedor-informe {
        .cabezal-conceptos {
            display: inline-block; // height: 8mm; // margin-top: 0.5cm;
            margin-right: 0.25cm;
            width: 100%;
        }
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    page-break-inside: auto
}

.table tr {
    margin: 0cm !important;
    padding: 0cm;
    page-break-inside: avoid;
    page-break-after: auto
}

.table thead {
    display: table-header-group;
}

.table thead tr th {
    border: 0.03cm solid lightgray;
    font-size: .275cm;
    padding: 0.05cm;
    margin: 0cm !important;
    border-spacing: 0;

}

.table tbody tr td {
    border: 0.03cm solid lightgray;
    font-size: 0.25cm;
    padding: 0.08cm;
    margin: 0cm !important;
    border-spacing: 0;
    page-break-inside: avoid;
    page-break-after: auto
}

.resumen .table thead tr th {
    font-size: .20cm !important;
}

.resumen .table tbody tr td {
    font-size: .20cm !important;
}