# Archivos de configuración
config.private.ts

# Logs
logs
**/*.log

# Javascript
**/*.js
**/*.map
*.js
**.js
*.map
**.map

!swagger/static*/*.js

# Dependency directories
node_modules
typings
typings/*
.vscode
