<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./constancia.css">
</head>

<body>

    <!-- Header -->
    <header>
        <!--logoHeader-->
    </header>
    <main>
        <h6 align="center">
            <u>CONSTATACION PADRON PUCO</u>
        </h6>
        <section class="bordered-section">
            <div class="row">
                <div class="col">
                    <span>DATOS DE AFILIACION</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <span>NOMBRE Y APELLIDO:
                        <!--nombre--></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>DNI:
                        <!--dni--></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>CUIL/CUIT: xxxxxxxxxx</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>PARENTESCO: TITULAR</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>
                        <FONT SIZE=2>OBRA SOCIAL:
                            <!--financiador-->
                        </FONT>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>FECHA DE ALTA: xx/xx/xxxx</label>
                </div>
            </div>
        </section>
        <br><br>
        <div class="row">
            <div class="col leyenda">
                <p>(La presente tiene carácter de declaración jurada a los efectos de la Ley Provincial 3012, y
                    Disposición Provincial 1949/
                    <!--añoActual-->)</p>

                <p>Fecha de verificación:
                    <!--fechaActual-->
                </p>
            </div>
        </div>
    </main>
</body>

</html>