@import 'variables/formales';
@import 'variables/cromaticas';

html {
    display: inline-block;
    padding: 0 2rem;
    font-family: sans-serif;
}

body {
    margin: 0; //Override
}

// Header 

.contenedor-logos {
    display: inline-block;
    height: 1cm;
    width: 90%;
    // border-bottom: $borderBottom;
    margin-left: 0.8cm;

    .contenedor-logo-efector {
        margin-top: .05cm;
        display: inline-block;
        height: 60px;
        width: 40%;

        .logo-efector {
            height: .75cm;
            width: auto;
            max-width: 7cm;
        }

        .no-logo-efector {
            font-size: .20cm;
        }
    }

    .contenedor-logos-secundarios {
        margin-top: .15cm;
        float: right; // display: inline-block; // width: 300px;
        width: 40%;

        .logo-adicional {
            filter: grayscale(100%);
            -webkit-filter: grayscale(1);
            height: .55cm;
            width: auto;
        }

        .logo-andes {
            float: right;
            height: .55cm;
            width: auto;
        }
    }
}

.contenedor-data-origen {
    display: inline-block;
    width: 100%;
    margin-left: 0.6cm;
    margin-right: 0.6cm;

    .contenedor-principal-data {
        display: inline-block;
        margin-top: 0.25cm;
        margin-bottom: 0.25cm;
        width: 50%;

        &:nth-of-type(2) {
            float: right;
        }
    }

    hr {
        padding: 0;
        width: 90%;
    }
}

// fin Header

// Globales
.contenedor-secundario {
    display: block;

    &.horizontal {
        float: right;
        margin-bottom: .25cm;

        hr {
            margin: 0 0;
        }
    }

    &.vertical {
        margin-bottom: .25cm;
    }

    font-size: .25cm;
}

.contenedor-bloque-texto {
    display: inline-block;
    margin-right: 1rem;
    line-height: 0.35cm;

    &:last-child {
        margin-right: 0;
    }

}

.w-50 {
    width: 50%;
}

.col-3 {
    div {
        width: 30%;
    }
}

// Tipografía
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.1cm 0;

    &.bolder {
        font-weight: 900;
    }
}

h3 {
    font-size: .325cm;
}

h4 {
    font-size: .275cm;
}

h5,
h6 {
    font-size: .20cm;
}

h6 {
    font-weight: lighter;
}

p {
    font-size: 0.25cm;
}

hr {
    margin: 5px 0 5px 0;
    width: 100%;

    &.sm {
        width: 15px;
    }

    &.lg {
        width: 100%;
    }
}

.volanta {
    color: $andes-gris;
    font-weight: bolder;
    text-transform: uppercase;
}

.subdata-italic {
    font-style: italic;
}

.txt-right {
    text-align: right;
}

// Cuerpo
main {


    .contenedor-concepto {
        display: inline-block;
        padding: 1rem 0;
    }

    .contenedor-concepto-data {
        display: inline-block;
        width: 100%;

        img {
            text-align: center;
            max-width: 5cm;
            max-height: 5cm;
            margin: 0 .35cm;
        }

        page-break-before:always;
        page-break-inside:avoid;
    }

    .tipo-prestacion {
        font-size: .35cm;
        display: block;
        width: 5.75cm;
        font-weight: 900;
    }

    .contenedor-informe {

        .cabezal-conceptos {
            display: inline-block;
            margin-right: 0.25cm;
            width: 100%;

            &.horizontal .contenedor-bloque-texto {
                display: inline-block;
                margin-right: 1rem;
                line-height: 0.35cm;

                h6 {
                    margin: 0;
                    min-width: 1.2cm;
                    font-size: 10px;
                    font-weight: lighter !important;
                    line-height: 0.5cm;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }

    .registros {
        display: inline !important;

        p {
            font-size: 12px;
            line-height: 0.25cm;
            font-weight: 900;
            margin-top: 5px;
        }

        small {
            font-size: 11px;
            font-weight: 100;
        }

        .nivel-1 p:first-child,
        .nivel-2 p:first-child,
        .nivel-3 p:first-child {
            text-transform: capitalize;
        }

        .nivel-1 {
            margin-left: 0em;
        }

        .subregistro {
            margin-left: 0em;
        }


        .nivel-2:not(:first-child) {
            margin-left: 1em;
            width: 100%;

            h3 {
                font-size: 0.65em;
                padding-bottom: 0.2cm;
            }

            span {
                display: inline-block;
                width: 33, 3%;
                font-size: 0.25cm;
            }

        }

        .nivel-3 {
            margin-left: 2em;
        }

        .adjunto {
            padding: .2cm 0;

            small {
                font-size: 0.25cm;
            }
        }

        .archivo-adjunto {
            text-align: center;
            max-width: 5cm;
            max-height: 5cm;
            margin: 0 .35cm;
        }
    }
}

#last {
    page-break-inside: avoid;
    margin-top: 12px;
}

.contenedor-firmas {
    display: inline;
    float: right;
    margin-top: 2cm;
    margin-bottom: 0.5cm;
    text-align: center;

    >.contenedor-bloque-texto {
        &:first-child {
            margin-right: 5rem;
        }
    }

    img {
        width: 3.5cm;
        height: auto;
        max-height: 2.5cm;
    }

    h6 {
        line-height: 0.35cm;
    }
}

.contenedor-zocalo {
    display: inline-block;
    margin-left: 0.5cm;
    margin-right: 0.5cm;

    img {
        float: left;

        &.logo-pdp {
            height: 1cm;
            width: auto;
            filter: grayscale(100%);
            -webkit-filter: grayscale(1);
        }

        // Disposicion horizontal
        &.logo-pdp-h {
            display: none;
        }
    }

    .contenedor-data-pdp {
        width: 37%;
        display: inline-block;
        margin-left: 0.5cm;
        text-align: justify;
    }

    .contenedor-data-pdpCenso {
        width: 50%;
        display: inline-block;
        margin-left: 0.5cm;
        text-align: justify;
    }

    .contenedor-data-impresion,
    .contenedor-data-validacion,
    .contenedor-data-organizacion {

        float: right;
        max-width: 2.25cm;
        margin-left: 0;
        margin-left: 0.25cm;
    }

    .contenedor-data-organizacion {
        text-align: left;
    }
}

.numeracion {
    float: right;
    width: auto;
    height: auto;
    font-size: .2cm;
    margin-right: 0.5cm;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    page-break-inside: auto
}

.table tr {
    margin: 0cm !important;
    padding: 0cm;
    page-break-inside: avoid;
    page-break-after: auto
}

.table thead {
    display: table-header-group;
}



.table thead tr th {
    border: 0.03cm solid lightgray;
    font-size: .275cm;
    padding: 0.05cm;
    margin: 0cm !important;
    border-spacing: 0;

}

.table tbody tr td {
    border: 0.03cm solid lightgray;
    font-size: .25cm;
    padding: 0.08cm;
    margin: 0cm !important;
    border-spacing: 0;
    page-break-inside: avoid;
    page-break-after: auto
}

.resumen.table thead tr th {
    padding: 0 .2cm 0 .2cm;
}

.resumen.table tbody tr td {
    font-size: .25cm !important;
}

.marca-de-agua {
    position: absolute;
    margin: 5.8cm 0 0 0;
    opacity: 0.15;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: rotate(-43deg);
    -moz-transform: rotate(-43deg);
    -ms-transform: rotate(-43deg);
    -o-transform: rotate(-43deg);
    transform: rotate(-43deg);
}