@import 'variables/formales';
@import 'variables/cromaticas';
html {
    display: inline-block; // height: 100vh;
    padding: 0 2rem;
    font-family: sans-serif;
}

body {
    margin: 0; //Override
}

// Cabezal
header {
    .contenedor-logos {
        display: inline-block;
        height: 1cm;
        width: 100%; // padding: 0.5cm 0 0 0;
        border-bottom: $borderBottom;
        .contenedor-logo-efector {
            margin-top: .05cm;
            display: inline-block;
            height: 60px;
            width: 40%;
            .logo-efector {
                height: .75cm;
                width: auto;
                max-width: 7cm;
            }
        }
        .contenedor-logos-secundarios {
            margin-top: .15cm;
            float: right; // display: inline-block; // width: 300px;
            width: 40%;
            .logo-adicional {
                height: .55cm;
                width: auto;
            }
            .logo-andes {
                float: right; // display: inline-block; // width: 300px;
                height: .55cm;
                width: auto; // margin-left: 2cm; // float: right;
            }
        }
    }
    .contenedor-data-origen {
        display: inline-block;
        border-bottom: $borderBottom;
        width: 100%;
        .contenedor-principal-data {
            display: inline-block;
            margin-top: 0.25cm;
            margin-bottom: 0.5cm;
            width: 50%;
            &:nth-of-type(2) {
                // display: inline-block;
                float: right;
            }
        }
    }
}

// Globales
.contenedor-secundario {
    display: block;
    &.horizontal {
        float: right;
        hr {
            margin: 0 0;
        }
    }
    &.vertical {
        margin-bottom: 20px;
    }
}

.contenedor-bloque-texto {
    display: inline-block;
    margin-right: 1rem;
    &:last-child {
        margin-right: 0;
    }
    h6 {
        margin: 0;
        white-space: nowrap;
    }
}

// Tipografia
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.1cm 0;
    &.bolder {
        font-weight: 900;
    }
}

h3 {
    font-size: .325cm;
}

h4 {
    font-size: .275cm;
}

h5,
h6 {
    font-size: .20cm;
}

h6 {
    font-weight: lighter;
}

p {
    font-size: 0.25cm;
}

hr {
    // border: $borderBottom;
    margin: 5px 0 5px 0;
    width: 100%;
    &.sm {
        width: 15px;
    }
    &.lg {
        width: 100%;
    }
}

.volanta {
    color: $andes-gris;
    font-weight: bolder;
    text-transform: uppercase;
}

.subdata-italic {
    font-style: italic;
}

.txt-right {
    text-align: right;
}

// Cuerpo
main {
    // padding: 1rem 0;
    .contenedor-concepto {
        display: inline-block;
        padding: 1rem 0; // max-height: 10cm;
    }
    .contenedor-concepto-data {
        display: inline-block;
        width: 100%;
        >h3 {
            // border-bottom: $borderBottom;
        }
        p {
            line-height: 3mm;
        }
    }
    .contenedor-informe {
        // margin: 1cm 0;
        // height: auto;
    }
    .cabezal-conceptos {
        display: inline-block;
        height: 8mm; // margin-top: 0.5cm;
        // margin-bottom: 0.5cm;
        width: 100%;
        >h3 {
            display: inline;
            width: auto;
        } // .contenedor-concepto-fecha {
        //     text-align: right;
        //     margin-bottom: 1cm;
        // }
    }
}

// Footer
footer {
    // height: auto;
}

.contenedor-firmas {
    display: inline;
    float: right;
    margin-bottom: 0.5cm;
    text-align: center;
    >.contenedor-bloque-texto {
        &:first-child {
            margin-right: 5rem;
        }
    }
    img {
        width: 3.5cm;
        height: auto;
        max-height: 2.5cm;
    }
    h6 {
        line-height: 0.5cm;
    }
}

.contenedor-zocalo {
    display: inline-block; // padding-bottom: 0.5cm;
    // h6 {
    //     font-size: 10px;
    // }
    img {
        float: left; // margin-right: 1rem;
        &.logo-pdp {
            height: 1cm;
            width: auto;
        } // Disposicion horizontal
        &.logo-pdp-h {
            display: none;
        }
    }
    hr {
        margin: 5px 0 5px 0;
    }
    .contenedor-data-pdp {
        width: 65%;
        display: inline-block;
        margin-left: 0.5cm;
    }
    .contenedor-data-impresion {
        // display: inline-block;
        float: right;
        max-width: 2.75cm;
        margin-left: 0;
        text-align: right;
        margin-right: 0;
    }
    .numeracion {
        // display: inline-block;
        float: right;
        width: auto;
        height: auto;
        font-size: .2cm;
    }
}

// Media query
// @media screen and (min-width: 980px) {
//     .contenedor-zocalo {
//         img {
//             &.logo-pdp {
//                 display: none;
//             }
//             &.logo-pdp-h {
//                 display: initial;
//                 align-self: center;
//                 width: 100px;
//             }
//         }
//     }
// }
// @media screen and (min-width: 320px) and (max-width: 979px)  {  
//     header .contenedor-logos .contenedor-logos-secundarios {
//         // display: none;
//     }
// }