@import 'page';

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* Normalize Tabla */
table {
    font-size:8px;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    tr {

        &.clean {
            background-color:white!important;
        }
    
        &:nth-child(even)	{
                background-color:#F1F1F1;
            }
    
        &:nth-child(odd)  {
            background-color:#ffffff;
        }
    }
        thead {
            display: table-header-group;
            font-weight: 600;
            vertical-align: middle;
            border-color: inherit;
            // border: 1px solid black;

            th {
                vertical-align: bottom;
                vertical-align: middle;
                border: 1px solid rgb(185, 185, 185);
            }

        tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
        }
    }
}
table, th, td {
    word-wrap: normal;
    white-space: normal;
    border: 1px solid rgb(185, 185, 185);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
