@page {
    size: portrait;
}
nav,
footer,
.btn {
    display: none;
}
body {
    padding: 0;
    margin: 0;
    -webkit-print-color-adjust: exact;
    font-family: sans-serif;
    font-size: 9px;
}

.content {
    margin-top: 0 !important;
}

.mx {
    width: 90%;
    margin: 0 auto;
}

.casilla-dato {
    position: relative;
    top: -10px;
}

.login-header {
    width: 90%;
    height: 60px;
    margin-top: 20px;
    margin-left: 30px;
    .logo-gobierno {
        width: 140px;
        height: auto;
        margin-right: 12px;
    }
    .logo-gobierno-salud {
        width: 150px;
        height: auto;
        background-repeat: no-repeat;
        background-size: 150px;
        background-position: center left;
    }
}

.egt,
.egt th,
.egt td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding-top: 3px;
    padding-bottom: 3px;
}

hr {
    margin: 1px 0;
}
th {
    font-size: 1rem;
}

td {
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.text-bottom {
    vertical-align: bottom;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.h90 {
    height: 90px;
}
.h110 {
    height: 110px;
}
.h50 {
    height: 50px;
}
.h20 {
    height: 20px;
}
.font14 {
    font-size: 14px;
}
input[type="checkbox"] {
    transform: scale(1.5);
}
.ml25 {
    margin-left: 25px;
    padding-left: 25px;
}
label {
    margin-top: 5px;
}
.mt-35 {
    margin-top: 35px;
}
