@import 'plex/variables';
@import 'variables';
@import 'rup';
@import 'assets/font.css';
@media all {
    @page {
        size: portrait;
    }
    #pageHeader {
        height: 40px;
        img {
            width: 60px;
            height: auto;
        }
    } // .navbar-brand {
    //     display: inline-block;
    //     padding-top: .25rem;
    //     padding-bottom: .25rem;
    //     margin-right: 0;
    //     font-size: 1.25rem;
    //     line-height: inherit;
    //     white-space: nowrap;
    // }
    // nav .navbar-brand .text {
    //     transition: all .3s;
    //     margin-left: -10px;
    //     z-index: 100;
    //     float: left;
    //     background-color: #002738;
    //     width: 120px;
    //     height: 50px;
    //     background-repeat: no-repeat;
    //     background-size: 100px;
    //     background-position: center;
    //     background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20219.78%20103.28%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Aurl%28%23Degradado_sin_nombre_79%29%3B%7D%3C%2Fstyle%3E%3ClinearGradient%20id%3D%22Degradado_sin_nombre_79%22%20y1%3D%2251.64%22%20x2%3D%22219.78%22%20y2%3D%2251.64%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23fff%22%20stop-opacity%3D%220%22%2F%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23f9fdfe%22%20stop-opacity%3D%220.02%22%2F%3E%3Cstop%20offset%3D%220.03%22%20stop-color%3D%22%23bfe6f1%22%20stop-opacity%3D%220.25%22%2F%3E%3Cstop%20offset%3D%220.05%22%20stop-color%3D%22%238cd3e7%22%20stop-opacity%3D%220.45%22%2F%3E%3Cstop%20offset%3D%220.08%22%20stop-color%3D%22%2360c2dd%22%20stop-opacity%3D%220.62%22%2F%3E%3Cstop%20offset%3D%220.11%22%20stop-color%3D%22%233db5d6%22%20stop-opacity%3D%220.76%22%2F%3E%3Cstop%20offset%3D%220.14%22%20stop-color%3D%22%2322aad0%22%20stop-opacity%3D%220.87%22%2F%3E%3Cstop%20offset%3D%220.17%22%20stop-color%3D%22%230fa3cc%22%20stop-opacity%3D%220.94%22%2F%3E%3Cstop%20offset%3D%220.21%22%20stop-color%3D%22%23039eca%22%20stop-opacity%3D%220.99%22%2F%3E%3Cstop%20offset%3D%220.26%22%20stop-color%3D%22%23009dc9%22%2F%3E%3Cstop%20offset%3D%220.62%22%20stop-color%3D%22%23853188%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23f4a47e%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Ctitle%3ERecurso%201%3C%2Ftitle%3E%3Cg%20id%3D%22Capa_2%22%20data-name%3D%22Capa%202%22%3E%3Cg%20id%3D%22Capa_3%22%20data-name%3D%22Capa%203%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M209.67%2C82.07c-11.88-1.14-15.67-6.88-19.67-13-5.29-8-10.75-16.3-34.28-9.63l0%2C.11c-7.8%2C1.14-12.08%2C10.92-16.23%2C20.39-.8%2C1.83-1.61%2C3.67-2.44%2C5.43a92.27%2C92.27%2C0%2C0%2C1-4.31-9.13c-3.49-8.41-7-19-10.39-29.29-3.36-10.15-6.29-18.81-9-25.78C108.88%2C9.49%2C105.12%2C2.69%2C101%2C1.6%2C100%2C1.3%2C87.67-2.55%2C78.48%2C2.9%2C72.61%2C6.08%2C67.92%2C17.69%2C61.42%2C33.75%2C57.86%2C42.56%2C53.86%2C52.43%2C49.16%2C62c-4.24-6.35-8.32-12.06-13.3-12.06C32%2C49.91%2C28%2C54%2C22.54%2C59.77%2C16.42%2C66.14%2C8.79%2C74.07%2C0%2C77.19l1.44%2C4c9.75-3.47%2C17.76-11.8%2C24.19-18.49%2C4-4.2%2C8.22-8.55%2C10.24-8.55%2C3%2C0%2C7.14%2C6.26%2C10.49%2C11.3%2C1.48%2C2.23%2C2.94%2C4.41%2C4.41%2C6.32a26.68%2C26.68%2C0%2C0%2C0%2C2.82%2C3.27c1.91%2C1.89%2C3.89%2C3.12%2C6%2C3.24a8.23%2C8.23%2C0%2C0%2C0%2C1.08.07c9.54%2C0%2C16.42-19.56%2C23.71-40.27%2C1.74-4.94%2C3.71-10.54%2C5.73-15.67%2C3.05%2C7.81%2C6.2%2C17.54%2C9.51%2C27.74%2C10.13%2C31.3%2C16.9%2C50.43%2C25.24%2C51.69l0%2C.21a56.2%2C56.2%2C0%2C0%2C0%2C10.88%2C1.18c18%2C0%2C22.72-11.77%2C27-22.33%2C1.62-4%2C3.17-7.84%2C5.34-10.93%2C1.21%2C1.31%2C2.43%2C2.75%2C3.69%2C4.24%2C5.4%2C6.39%2C11.52%2C13.63%2C20.85%2C14.57a20.55%2C20.55%2C0%2C0%2C0%2C2.31.1%2C49.09%2C49.09%2C0%2C0%2C0%2C15.24-2.7l9.64-3.2ZM80.36%2C36.71C74.8%2C52.49%2C67.19%2C74.12%2C60.69%2C74.12c-1.5%2C0-3-.94-4.39-2.37a33.19%2C33.19%2C0%2C0%2C1-2.39-2.88c-.67-.92-1.32-1.91-2-2.9%2C5.23-10.33%2C9.58-21.09%2C13.43-30.61C71.1%2C21.25%2C76%2C9.06%2C80.54%2C6.66l.09-.05c4.4-2.63%2C10-2.55%2C14-2l-.21.26a29.15%2C29.15%2C0%2C0%2C0-4.49%2C7.29C87%2C18.17%2C83.95%2C26.51%2C80.36%2C36.71Zm23.37%2C12.17c-3.9-12-7.59-23.44-11.2-31.94.43-1.08.85-2.07%2C1.28-3a46.62%2C46.62%2C0%2C0%2C1%2C2.26-4.19%2C11%2C11%2C0%2C0%2C1%2C3.72-3.84c2.87%2C1.62%2C6.18%2C8.22%2C9.5%2C16.65%2C2.71%2C7%2C5.52%2C15.48%2C8.45%2C24.3%2C3.53%2C10.63%2C7.14%2C21.47%2C10.76%2C30.27l.09.23c.28.69.57%2C1.37.85%2C2l.39.9.43%2C1q.35.79.71%2C1.55l.33.7q.35.73.7%2C1.43l.45.89.47.9c.23.43.46.84.69%2C1.25l.27.47c.29.5.58%2C1%2C.86%2C1.42l.05.08c-1.78%2C3.16-3.7%2C5.72-5.9%2C7a5.26%2C5.26%2C0%2C0%2C1-3.32.71C119.25%2C96.83%2C110.27%2C69.11%2C103.72%2C48.88Zm55%2C30.47c-4.23%2C10.52-8.24%2C20.52-25.3%2C19.57.17-.16.33-.33.5-.49l.06-.06.38-.39a32%2C32%2C0%2C0%2C0%2C4.87-7l.63-1.16-.08-.11c1.28-2.54%2C2.48-5.27%2C3.66-8%2C3.86-8.82%2C7.85-17.94%2C13.83-17.94%2C3.46%2C0%2C5.4%2C1.33%2C7.63%2C3.27C162.23%2C70.66%2C160.45%2C75.07%2C158.73%2C79.35Zm34.33%2C5.22c-7.65-.77-12.94-7-18.05-13.07-1.38-1.63-2.77-3.27-4.21-4.79l.07-.08-1.13-1a29.15%2C29.15%2C0%2C0%2C0-4.2-3.54l-.24-.17-.23-.16c13.54-2.11%2C17.06%2C3.23%2C21.34%2C9.72%2C3.1%2C4.7%2C6.5%2C9.86%2C13.72%2C12.76A30.93%2C30.93%2C0%2C0%2C1%2C193.07%2C84.56Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    // }
    nav,
    footer,
    .btn,
    .icon-rup {
        display: none;
    }
    body {
        font-family: Arial, Sans-serif !important;
        padding-top: 0; // -webkit-print-color-adjust: exact !important;
        /* Chrome, Safari */
        // color-adjust: exact !important;
        /*Firefox*/
    }
    table tr>* {
        display: block;
    }
    table tr {
        display: table-cell;
    }
    th {
        font-size: 0.7rem;
    }
    tr {
        // border-bottom: 2px solid rgba(0, 0, 0, .15);
    }
    small {
        font-size: 0.7rem;
    }
    .content {
        margin: 0 !important;
    }
    .plex-box>div {
        padding: 0 !important;
    } // Resetea algunas reglas de .badge
    .rup-card:nth-child(odd+1) {
        page-break-before: always; // margin-bottom: 20px;
    }
    .badge {
        border: 1px solid;
        padding: 3px;
    }
    .titulo-hallazgos~.titulo-hallazgos {
        display: none;
    }
    .titulo-trastornos~.titulo-trastornos {
        display: none;
    }
    .titulo-procedimientos~.titulo-procedimientos {
        display: none;
    }
    .titulo-planes~.titulo-planes {
        display: none;
    }
    .titulo-productos~.titulo-productos {
        display: none;
    }
    .imprimir {
        display: none;
    }
    .titulo-adjuntos~.titulo-adjuntos {
        display: none;
    }
    .imprimir {
        display: inline-block;
    } // Header Paciente
    header-paciente {
        .row,
        .col,
        .col-6,
        .mb {
            display: inline-block !important;
            margin: 0 !important;
            padding: 0 !important;
        }
        position: unset !important;
        left: 0;
        top: 0;
        padding: 0 !important;
        margin: 0;
        background: none !important;
        label,
        span {
            display: inline-block;
            margin: 0;
            padding: 0;
            position: relative;
            top: -40px;
        }
        div:first-child {
            width: 100%;
            .row {
                width: 120px;
            }
            &:first-child {
                .row~.row {
                    width: 140px;
                    vertical-align: text-top;
                }
            }
        }
        .col-6 {
            width: auto;
            max-width: 100%;
        }
        .popover {
            width: 100%;
            height: 114px;
            max-width: 100% !important;
            position: unset !important;
            display: block !important;
            margin: 0 !important;
            img {
                width: 100px;
            }
        }
        .popover-content {
            padding: 0 !important;
            paciente-detalle {
                margin: 0 !important;
            }
        }
        div {
            display: inline-block !important;
        }
    }
    .texto,
    .foto {
        // TODO
        display: none !important;
        float: none !important;
        strong,
        .small {
            // color: #333333;
        }
    }
    plex-box>div {
        height: auto;
    }
    plex-box>div>.plex-box-content {
        overflow: visible;
    }
    .menu-ordenamiento,
    .mdi-arrow-left-drop-circle-outline,
    .mdi-arrow-down-drop-circle-outline {
        display: none;
    }
    .type {
        // background-color: rgba(0, 0, 0, 0.69) !important;
    }
    .rup-body {
        padding: 5px 10px !important;
    }
    .rup-card {
        margin-bottom: 0 !important;
    }
    .relaciones {
        display: none;
    }
    tooltip-content {
        display: none;
    }
    .titulo-consulta {
        font-weight: 400;
        color: black;
        .consulta {
            color: $blue;
        }
    }
    .readonly span {
        font-weight: bold;
    }
}