$rotate: -90deg;
.rup-card {
    &:first-child {
        // margin-top: 100px;
    }
    &:not(.mini) {
        // border: 2px solid #ccc;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    transition: 200ms all;
    -webkit-transition: 200ms all;
    border-top: 1px solid #666; // @each $tag,
    // $color in $rup_colors {
    //     background: $color;
    // }
    &.mini {
        margin-bottom: 2px;
        .rup-header {
            .icon-rup {
                border-right: 2px solid #ccc;
            }
            .actions {
                border-top: 2px solid #ccc;
                border-bottom: 2px solid #ccc;
                border-right: 2px solid #ccc;
            }
            .rup-border {
                width: 100%;
                border-top: 2px solid #ccc;
                border-bottom: 2px solid #ccc;
                border-right: 2px solid #ccc;
            }
        }
        &:hover {
            background: #eee;
        }
        .rup-border {
            &:hover {
                background: #eee;
                border-right: 2px solid $blue;
                border-bottom: 2px solid $blue;
                border-top: 2px solid $blue;
            }
        }
        @each $tag,
        $color in $rup_colors {
            &.#{$tag} {
                &:hover,
                &.active {
                    box-shadow: 1px 1px 20px 1px rgba($color, 0.22);
                    .rup-header {
                        .icon-rup {
                            background: $color;
                            i {
                                color: white;
                            }
                        }
                    }
                }
                .rup-header {
                    .icon-rup {
                        border: 2px solid $color;
                        background: white;
                        i {
                            color: $color;
                        }
                    }
                }
            }
        }
    }
    @each $tag,
    $color in $rup_colors {
        &.#{$tag}:not(.mini) {
            &:hover {
                border-left: 2px solid $color;
                border-right: 2px solid $color;
                border-bottom: 2px solid $color;
                border-top: 2px solid $color;
                box-shadow: 1px 1px 20px 1px rgba($color, 0.22);
            }
            .rup-header,
            .rup-header .icon-rup,
            .rup-body .legend,
            .rup-footer .type {
                background: $color;
            }
            .rup-header {
                .icon-rup {
                    border-bottom: 1px solid $color;
                    mix-blend-mode: hard-light;
                }
                span {
                    color: $color;
                }
            }
        }
    }
    .rup-header {
        text-transform: capitalize;
        text-align: left;
        .icon-rup,
        .title,
        .actions {
            padding: 5px;
            display: inline-block !important;
            text-align: left;
        }
        .btn-icon-rup {
            line-height: 1.3em;
        }
        .icon-rup {
            font-size: 1.2rem; // width: 55px;
            text-align: center;
            i {
                color: white;
                font-size: 2.5rem;
                line-height: 30px;
            }
        }
        .title {
            font-size: 1rem;
            font-weight: bold;
            padding: 10px 0;
            display: inline-block;
            text-align: left;
            .vinculadoCon {
                display: inline-flex;
            }
        }
        .actions {
            background: white;
            margin-left: auto;
            .btn {
                margin: 0 5px;
            }
            .btn:first-child {
                margin-right: 0;
            }
        }
    }
    .rup-body {
        display: flex;
        min-height: 100px;
        .legend {
            display: none;
            padding: 5px;
            font-size: 1.2rem;
            width: 15px;
            span {
                display: block;
                text-transform: uppercase;
                -ms-transform: rotate($rotate);
                -moz-transform: rotate($rotate);
                -webkit-transform: rotate($rotate);
                transform: rotate($rotate);
                font-size: 9px;
                margin-bottom: 5px;
                min-width: 20px;
            }
        }
        .content {
            margin: 0;
            padding: 10px 20px;
            flex: 1; // border-top: 1px solid #666;
            font-size: 12px;
        }
    }
    .rup-footer {
        padding: 0;
        display: flex;
        .type {
            width: 55px;
        }
    }
    &:hover {
        .rup-header {
            .rup-icon {
                i {
                    transition: 200ms all;
                    -webkit-transition: 200ms all;
                }
            }
        }
    } // BADGES
    @each $tag,
    $color in $rup_colors {
        .badge-#{$tag} {
            font-size: 10px;
            font-weight: normal;
            text-transform: uppercase;
            color: $color;
            border: 1px solid $color;
            background: transparent !important;
            &:focus {
                outline: 0;
            }
            &.active {
                background-color: $color;
                mix-blend-mode: hard-light;
            }
        }
    }
}