name: BUILD AND TEST
on: [push]
jobs:
    build:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '18.x'
            - run: npm ci
            - run: cp config.private.ts.example config.private.ts   
            - run: npm run lint
            - run: NODE_OPTIONS=--max-old-space-size=4096 npm run tsc
            - run: npm run test 
